<div class="container ">
  <div class="container  footer row ">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 my-2 border-top">
      <div class="col-md-4 d-flex align-items-center">
        
        
        <span class="mb-3 mb-md-0 text-body-secondary">© created by chandra kumar</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3" id="feedbackbox"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdvqnYDxLia-TBKLlKQ6gKoXBZQNBJIHtGF3Y57pUfhrOFlwQ/viewform?usp=sf_link" target="_blank"><img class="bi bi-chat-square-text" width="24" height="24"  src="files/commentbox.svg" alt="feedback"></a></li>
        <li class="ms-3 " ><a class="text-body-secondary" href="https://www.linkedin.com/in/y-d-chandra-kumar-827a03275/?originalSubdomain=in " target="blank"><img src="files/linkedin.svg"  class="bi" width="24" height="24"  alt=""></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://github.com/y-chandrakumar" target="blank"><img src="files/github.svg" alt="" class="bi" width="24" height="24"  ></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/chandra_kumar_22/" target="blank"><img src="files/instagram.svg" alt="" class="bi" width="24" height="24"  ></a></li>
      </ul>
    </footer>
  </div></div>