
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none ">
            <img src="files/logo.svg" width="20" height="20" alt="logo">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mx-3 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/form" class="nav-link px-2 text-white">Post your blog</a></li>
          <li><a href="/yourblog" class="nav-link px-2 text-white">Your blogs</a></li>
          <!-- <li><a href="#" class="nav-link px-2 text-white"></a></li> -->
          <li><a href="/construction" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Not working...yet " aria-label="Search">
          </form>
        <div class="text-end" id="login_signup">
          <a href="/login">
          <button  type="button" class="btn btn-outline-light me-2" >Login</button></a>
           <a href="/signup">
          <button type="button" class="btn btn-warning">Sign-up</button></a> 
          <a href="/construction" class="mx-3"><img  src="files/settings.svg"width="20" height="20" alt="settings"></a>
        </div>
        



            <div class="dropdown text-end" id="profilelogo">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                  <li><a class="dropdown-item" href="/settings">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <!-- <li><hr class="dropdown-divider"></li> -->
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
              </div>


           
      </div>
    </div>
  </header>








