<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="files/blacklogo.svg" type="image/x-icon">
  <title>blog</title>


  <link rel="stylesheet" href="main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>

    <%- include("partials/header.ejs") %>
     <div class="minheight">
    <div class="container m-4 mx-lg-5  ">
    <form action="/submit"  method="post">
      <input type="date"  class="" id="datepicker" name="date" hidden>
      <input name="email" type="text" class="feedback-input" placeholder="Email" required/>
      <input name="title" type="text" class="feedback-input" placeholder="Title of blog" required />
      <input name="preview" type="text" class="feedback-input" placeholder="preview for audience." required />
      <textarea name="text" class="feedback-input" placeholder="Your blog goes here...." required></textarea>
      <input type="submit" value="SUBMIT" />
    </form>
  </div></div>



<%- include("partials/footer.ejs") %>
<script>
  // JavaScript to set the default date to the current local date
  document.addEventListener('DOMContentLoaded', function () {
      var currentDate = new Date().toISOString().split('T')[0];
      document.getElementById('datepicker').value = currentDate;
  });

  // JavaScript to handle the selected date
  document.getElementById('datepicker').addEventListener('change', function () {
      // You can do further processing with the selected date if needed
  });
</script>
<script src="script.js"></script>

</body>
</html>
