<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="files/blacklogo.svg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yourblogs</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="minheight">
<% if(!locals.blogdata) {%>
    <div class="container m-4 m-lg-5 ">
     <form action="/myblogs" method="post">
     <input type="email" name="email" class="feedback-input" placeholder="enter your emailid" required>
     <input type="submit" value="SUBMIT">
 </form>
</div>
<% } else {
    for (let i=blogdata.length-1;i>=0;i--){ %>
       
        <div class="p-4 p-md-5 mb-1 rounded text-body-emphasis bg-body-secondary">
            <div class="col-lg-6 px-0">
              <h3 class=" fst-italic"><%= blogdata[i].title %></h3>
              <p class="lead "><%= blogdata[i].preview %></p>
            </div>
          </div>
        <%  }%>


    <% } %></div>
     <%- include("partials/footer.ejs") %> 
</body>
</html>